#p1{
font-family:comic sans;
border:solid;
margin:3 3 3 3;
padding:20px;
background-color:#cfcbd6;
}
header{
background-color:#cfcbd6;
display:block;
margin:3px;
border:solid;
margin:3 3 3 3;
text-align:center;
}
img {
border:1px solid;
margin:3 3 3 3;
}
#p2{
font-family:comic sans;
border:solid;
margin:3 3 3 3;
padding:20px;
background-color:#cfcbd6;
}section{
background-color:#cfcbd6;
display:block;
margin:3px;
border:solid;
margin:3 3 3 3;
text-align:center;
#p4{font-family:comic sans;
border:solid;
margin:3 3 3 3;
padding:20px;
background-color:#cfcbd6;}